
.add-form-container{
    /*font-family:'Roboto';*/
    width: 500px;
    margin: 10px 45px;
    display: block;
    background: #FFF;
    padding: 10px 0px 50px 50px;
    text-align: -webkit-center;
    z-index: 99;
    border-radius: 0.2px;
}
.h3-add{
    margin-bottom: 10px;
}
.add-selection{
    /*same styling as input tag, except width*/
    font-size:18px;
    padding:8px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
    margin-left: 50px;
}
.add-input {
    width: 300px;
}
.add-bar{
    width: 300px;
}
.add-label{
    color: #003d5c;
    opacity: 0.9;
    font-weight: bold;
}
.snake-img{
    position: absolute;
    width: 50%;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    z-index: 98;
}